openapi: 3.0.3
info:
  title: API che il fornitore dei servizi di consolidamento dovrà mettere a disposizione
  description: >- 
    Il consolidatore espone due path.

    - '/piattaforma-notifiche-ingress/v1/paper-deliveries-engagement' a cui Piattaforma Notifiche
      sottomette richieste di invio di corrispondenza cartacea.
    - '/piattaforma-notifiche-ingress/v1/paper-deliveries-progresses/{requestId}' a cui 
      Piattaforma Notifiche richiede in modalità pull gli esiti delle postalizzazioni.
    
    E invoca un __webhook__ messo a disposizione da Piattaforma Notifiche 
      e invocato dal consolidatore allo scopo di notificare gli eventi di progressione dei processi 
      di postalizzazione.
  version: v1.0
servers:
  - url: 'https://api.consolidatore.vincitore-gara-monte-valle.it'
    description: Server url
paths:  
  /piattaforma-notifiche-ingress/v1/paper-deliveries-engagement:
    post:
      operationId: sendPaperEngageRequest
      summary: PN richiede l'invio di corrispondenza cartacea
      description: >- 
        Questa operazione sottomette al consolidatore una richiesta di invio di 
        corrispondenza cartacea. <br/>
        Il consolidatore deve validare la sintatticamente la richiesta e, se tale 
        validazione ha successo, registrare la richiesta in maniera sincrona.
        Se vengono inviate molteplici richieste con lo stesso requestId solo una 
        deve avere successo (status code HTTP 200, le altre devono ricevere lo 
        status code 409).
      parameters:
        - $ref: '#/components/parameters/xPagopaExtchServiceId'
        - $ref: '#/components/parameters/xPagopaExtchApiKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaperEngageRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: { resultCode: '200.00', resultDescription: 'OK', clientResponseTimeStamp: '2019-08-24T14:15:22Z'}
              schema:
                $ref: '#/components/schemas/OperationResultCodeResponse'
        '400':
          description: errore di validazione della richiesta
          content:
            application/json:
              examples: 
                syntaxError: 
                  summary: 'Errore sintattico'
                  value: { resultCode: '400.01', resultDescription: 'Syntax Error', errorList: [ 'field requestId is required'], clientResponseTimeStamp: '2019-08-24T14:15:22Z'}
                semanticError: 
                  summary: 'Errore semantico'
                  value: { resultCode: '400.02', resultDescription: 'Semantic Error', errorList: [ 'unrecognized product Type'], clientResponseTimeStamp: '2019-08-24T14:15:22Z'}
              schema:
                $ref: '#/components/schemas/OperationResultCodeResponse'
        '401':
          description: Mancano le credenziali di identificazione o sono sbagliate
          content:
            application/json:
              example: { resultCode: '401.00', resultDescription: 'Authentication Failed', clientResponseTimeStamp: '2019-08-24T14:15:22Z'}
              schema:
                $ref: '#/components/schemas/OperationResultCodeResponse'
        '409':
          description: requestId già inviato quindi non riutilizzabile
          content:
            application/json:
              example: { resultCode: '409.00', resultDescription: 'duplicated requestId', clientResponseTimeStamp: '2019-08-24T14:15:22Z'}
              schema:
                $ref: '#/components/schemas/OperationResultCodeResponse'
  
  /piattaforma-notifiche-ingress/v1/paper-deliveries-progresses/{requestId}:
    get:
      operationId: getPaperEngageProgresses
      summary: PN richiede l'elenco dei progressi di una postalizzazione
      description: >- 
        Questa richiesta permette di ottenere l'elenco degli eventi salienti 
        riguardanti un processo di postalizzazione. <br/>
        Oltre all'elenco degli eventi si ottengono informazioni sulle cause di tali eventi 
        e URL per effettuare il download delle scansioni digitali dei documenti prodotti 
        durante il processo di postalizzazione. <br>
      parameters:
        - $ref: '#/components/parameters/xPagopaExtchServiceId'
        - $ref: '#/components/parameters/xPagopaExtchApiKey'
        - name: requestId
          description: Identificativo della richiesta di postalizzazione 
          example: 'ABCD-HILM-YKWX-202202-1_rec0_try1'
          in: path
          required: true
          schema:
            type: string  
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaperDeliveryProgressesResponse'
              example:
                responseId: 'ABCD-HILM-YKWX-202202-1_rec0_try1'
                events: []

        '401':
          description: Mancano le credenziali di identificazione o sono sbagliate
          content:
            application/json:
              example: { resultCode: '401.00', resultDescription: 'Authentication Failed', clientResponseTimeStamp: '2019-08-24T14:15:22Z'}
              schema:
                $ref: '#/components/schemas/OperationResultCodeResponse'
        '404':
          description: requestId non corrispondente a un requestId precedentemente richiesto.
          content:
            application/json:
              example: { resultCode: '404.01', resultDescription: 'requestId never sent', clientResponseTimeStamp: '2019-08-24T14:15:22Z'}
              schema:
                $ref: '#/components/schemas/OperationResultCodeResponse'
        
  /piattaforma-notifiche-ingress/v1/paper-replicas-engagement:
    post:
      operationId: sendPaperReplicasEngagementRequest
      summary: PN richiede la generazione di un duplicato
      description: >- 
        Questa operazione sottomette al consolidatore una richiesta di invio di 
        documento duplicato. <br/>
        Il consolidatore deve validare la sintatticamente la richiesta e, se tale 
        validazione ha successo, registrare la richiesta in maniera sincrona.
        Se vengono inviate molteplici richieste con lo stesso requestId solo una 
        deve avere successo (status code HTTP 200, le altre devono ricevere lo 
        status code 409).
      parameters:
        - $ref: '#/components/parameters/xPagopaExtchServiceId'
        - $ref: '#/components/parameters/xPagopaExtchApiKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaperReplicaRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: { resultCode: '200.00', resultDescription: 'OK', clientResponseTimeStamp: '2019-08-24T14:15:22Z'}
              schema:
                $ref: '#/components/schemas/OperationResultCodeResponse'
        '400':
          description: errore di validazione della richiesta
          content:
            application/json:
              examples: 
                syntaxError: 
                  summary: 'Errore sintattico'
                  value: { resultCode: '400.01', resultDescription: 'Syntax Error', errorList: [ 'field requestId is required'], clientResponseTimeStamp: '2019-08-24T14:15:22Z'}
                semanticError: 
                  summary: 'Errore semantico'
                  value: { resultCode: '400.02', resultDescription: 'Semantic Error', errorList: [ 'unrecognized product Type'], clientResponseTimeStamp: '2019-08-24T14:15:22Z'}
              schema:
                $ref: '#/components/schemas/OperationResultCodeResponse'
        '401':
          description: Mancano le credenziali di identificazione o sono sbagliate
          content:
            application/json:
              example: { resultCode: '401.00', resultDescription: 'Authentication Failed', clientResponseTimeStamp: '2019-08-24T14:15:22Z'}
              schema:
                $ref: '#/components/schemas/OperationResultCodeResponse'
        '409':
          description: requestId già inviato quindi non riutilizzabile
          content:
            application/json:
              example: { resultCode: '409.00', resultDescription: 'duplicated requestId', clientResponseTimeStamp: '2019-08-24T14:15:22Z'}
              schema:
                $ref: '#/components/schemas/OperationResultCodeResponse'

  /piattaforma-notifiche-ingress/v1/paper-replicas-progresses/{requestId}:
    get:
      operationId: getPaperReplicasProgressesRequest
      summary: PN richiede l'elenco dei progressi di una richiesta duplicato
      description: >- 
        Questa richiesta permette di ottenere l'elenco degli eventi salienti 
        riguardanti un processo di richieta duplicato. <br/>
      parameters:
        - $ref: '#/components/parameters/xPagopaExtchServiceId'
        - $ref: '#/components/parameters/xPagopaExtchApiKey'
        - name: requestId
          description: Identificativo della richiesta di richiesta duplicato 
          example: 'ABCD-HILM-YKWX-202202-1_rec0_try1'
          in: path
          required: true
          schema:
            type: string  
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaperReplicasProgressesResponse'
              example:
                responseId: 'ABCD-HILM-YKWX-202202-1_rec0_try1'
                events: []

        '401':
          description: Mancano le credenziali di identificazione o sono sbagliate
          content:
            application/json:
              example: { resultCode: '401.00', resultDescription: 'Authentication Failed', clientResponseTimeStamp: '2019-08-24T14:15:22Z'}
              schema:
                $ref: '#/components/schemas/OperationResultCodeResponse'
        '404':
          description: requestId non corrispondente a un requestId precedentemente richiesto.
          content:
            application/json:
              example: { resultCode: '404.01', resultDescription: 'requestId never sent', clientResponseTimeStamp: '2019-08-24T14:15:22Z'}
              schema:
                $ref: '#/components/schemas/OperationResultCodeResponse'

  /piattaforma-notifiche-ingress/v1/paper-deliveries-failure/{requestId}:
    post:
      operationId: reportFailure
      summary: PN riporta un errore nella rendicontazione di una postalizzazione
      description: >- 
        Questa operazione riporta al consolidatore il dettaglio di una richiesta che ha 
        registrato degli errori nella fase di processamento degli esiti.<br/>
        Il consolidatore deve validare la sintatticamente la richiesta e, se tale 
        validazione ha successo, registrare la richiesta in maniera sincrona per poi trasmetterla al recapitista 
        utilizzando l'apposita API.
      tags:
        - Evoluzioni
      parameters:
        - $ref: '#/components/parameters/xPagopaExtchServiceId'
        - $ref: '#/components/parameters/xPagopaExtchApiKey'
        - name: requestId
          description: Identificativo della richiesta di postalizzazione 
          example: 'ABCD-HILM-YKWX-202202-1_rec0_try1'
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaperProgressFailure'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: { resultCode: '200.00', resultDescription: 'OK', clientResponseTimeStamp: '2019-08-24T14:15:22Z'}
              schema:
                $ref: '#/components/schemas/OperationResultCodeResponse'
        '400':
          description: errore di validazione della richiesta
          content:
            application/json:
              examples: 
                syntaxError: 
                  summary: 'Errore sintattico'
                  value: { resultCode: '400.01', resultDescription: 'Syntax Error', errorList: [ 'field requestId is required'], clientResponseTimeStamp: '2019-08-24T14:15:22Z'}
                semanticError: 
                  summary: 'Errore semantico'
                  value: { resultCode: '400.02', resultDescription: 'Semantic Error', errorList: [ 'unrecognized product Type'], clientResponseTimeStamp: '2019-08-24T14:15:22Z'}
              schema:
                $ref: '#/components/schemas/OperationResultCodeResponse'
        '401':
          description: Mancano le credenziali di identificazione o sono sbagliate
          content:
            application/json:
              example: { resultCode: '401.00', resultDescription: 'Authentication Failed', clientResponseTimeStamp: '2019-08-24T14:15:22Z'}
              schema:
                $ref: '#/components/schemas/OperationResultCodeResponse'

components:

  parameters:
    fileKey: 
      $ref: 'schemas-paper-v2.yaml#/components/parameters/fileKey'
      
    xPagopaExtchServiceId:
      $ref: 'schemas-paper-v2.yaml#/components/parameters/xPagopaExtchServiceId'
    
    xPagopaExtchApiKey:
      $ref: 'schemas-paper-v2.yaml#/components/parameters/xPagopaExtchApiKey'
  
  schemas:

    PaperEngageRequest:
      $ref: 'schemas-paper-v2.yaml#/components/schemas/PaperEngageRequest'
      
    OperationResultCodeResponse:
      $ref: 'schemas-paper-v2.yaml#/components/schemas/OperationResultCodeResponse'

    PaperDeliveryProgressesResponse:
      $ref: 'schemas-paper-v2.yaml#/components/schemas/PaperDeliveryProgressesResponse'

    PaperReplicaRequest:
      $ref: 'schemas-paper-v2.yaml#/components/schemas/PaperReplicaRequest'

    PaperReplicasProgressesResponse:
      $ref: 'schemas-paper-v2.yaml#/components/schemas/PaperReplicasProgressesResponse'

    PaperProgressFailure:
      $ref: 'schemas-paper-v2.yaml#/components/schemas/PaperProgressFailure'
